



<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Verify otp send to your number </h2>
                     {{#if otpErr}}
                    <h5 style="color: red;">otp verification failed</h5>
                    {{/if}}
                    <br>
                    <br>
                    <form action="/successotp" method="POST" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                        <div class="input-group">
                        <input class="input--style-3" type="tel" placeholder="enter 4 digit otp on your number" name="otp">
                        <input type="hidden" name="mobile" value="{{mobile}}">
                        </div>
                       
                       <br><br><br>
                        
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Verify and continue</button>

                        </div>
                    </form>
                    <br><br>
                         <h5 style="float: right;"><a href="/goHome">Continue With gust Account</a></h5>

                </div>
            </div>
        </div>
    
  



{{!-- 



<form action="/successotp" method="post">


<input type="hidden" value="{{mobile}}">

<input placeholder="dkfjdkjfdkjfdkfjdkfjdkfj" type="text" name="otp">


<input type="submit"> 


</form>
 --}}
