

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Reset Password</h2>
                      {{#if blockErr}}
                    <h5 style="color: red;">sorry your Account has been blocked</h5>
                    {{/if}}
                    <br>
                    <br>
                    <form action="/repassword" method="POST">
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Enter your Email ID" name="email">
                        </div>
                        <div style="float: right;">
                           <a href="/resetpas" style="text-decoration: none;"><h5> send otp  to +91##########78</h5></a>
                           </div><br> <br>
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Enter 4digit otp on number " name="Password">
                        </div>
                          
                       <br><br>
                        
                   
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">next</button>

                        </div>
                    </form>
                    <br><br>
                         <h5 style="float: right;"><a href="/goHome">Continue With gust Account</a></h5>

                </div>
            </div>
        </div>

